<div class="iframe-video">
    <iframe width="540px" height="315px"
        src="https://www.youtube-nocookie.com/embed/{{id}}{% if autoplay %}?autoplay=1{% endif %}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        webkitallowfullscreen mozallowfullscreen allowfullscreen
        loading="lazy"></iframe>
</div>