{% extends "artwork.html" %}

{% block title %}
    {{ page.title }} - {{ config.title }}
{% endblock title %}

{% block metadata %}
    <meta content="website" property="og:type"/>
    <meta content="{{ config.title }}" property="og:site_name"/>
    <meta content="{{ current_url | safe }}" property="og:url"/>
    <meta content="{{ current_url | safe }}" property="twitter:url"/>
    <meta content="summary_large_image" name="twitter:card"/>
    {%- if page.title %}
        <meta content="{{ page.title }}" property="og:title"/>
        <meta content="{{ page.title }}" property="twitter:title"/>
    {%- endif %}
    {%- if page.description %}
        <meta content="{{ page.description }}" property="og:description"/>
        <meta content="{{ page.description }}" property="description"/>
        <meta content="{{ page.description }}" property="twitter:description"/>
    {%- endif %}
    {%- if page.extra.thumbnail %}
    {%- set image_path = page.colocated_path ~ page.extra.thumbnail %}
    {%- set image = resize_image(path=image_path, width=1500, height=1500, format=config.extra.thumbnail_format, quality=config.extra.thumbnail_quality, op="fit") %}
        <meta content="{{ image.url }}" property="og:image"/>
        <meta content="{{ image.url }}" property="twitter:image"/>
    {%- endif %}
{% endblock metadata %}